body {
    font-family: Georgia, serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #2c2a2ae3;
    color: #ffffff;
    font-family: sans-serif;
}

header {
    background: #ffffff;
    color: #080808;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    color: black;
}

article {
    margin-bottom: 20px;
}

article h2 {
    font-size: 1.5rem;
    color: #0b8b85;
    text-decoration: underline;
}

article p {
    margin-bottom: 10px;
}

.read-more {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.read-more:hover {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ffffff;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none;
}